@import url(chrome/tab_close_button_always_on_hover.css);
@import url(chrome/vertical_context_navigation.css);
@import url(chrome/floating_findbar_on_top.css);
@import url(chrome/tab_line_loading_indicator.css);
@import url(chrome/urlbar_container_color_border.css);

@import url(chrome/urlbar_connection_type_text_colors.css);
@import url(chrome/urlbar_connection_type_background_colors.css);

@import url(chrome/minimal_in-UI_scrollbars.css);


/*************************************************/
/* Apply your custom modifications after imports */
/*************************************************/


/* 
 * Default tab favicon 
 */
/*.tabbrowser-tab[label^="New Tab"] .tab-icon-image,
  .tabbrowser-tab[label^="Nueva pestaña"] .tab-icon-image {*/
.tabbrowser-tab:is([label^="New Tab"], [label^="Nueva pestaña"]) .tab-icon-image {
  background: url("img/logo.blue.png") !important;
  background-repeat: no-repeat !important;
  background-size: 16px !important;
  margin-right: 3.5px !important;
  padding-left: 16px !important;
  width: 0 !important;
}


/* 
 * Fix to chrome/urlbar_connection_type_background_colors.css
 * Hides color green on verifiedDomain 
 */
#identity-box.verifiedDomain::before{ background-color: revert-layer !important }


/* 
 * Fix to chrome/minimal_in-UI_scrollbars.css
 * SidePanel History and Bookmarks's scrollbar color
 */
.panel-subview-body, #permList, scrollbar { color: rgb(94, 94, 94); }


/*
 * Sidebar color
 */
#sidebar-search-container,
#bookmarks-view,
#historyTree,
[lwt-sidebar] {
  background-color: #2b2a33 !important; /* https://acorn.firefox.com/latest/styles/color-MZHBVuZc#section-background-c2 */
}

#sidebar-box #sidebar-header {
  border: none !important;
}
#sidebar-box #sidebar-header #sidebar-close {
  fill-opacity: 0 !important;
  transition: color 300ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}
#sidebar-box #sidebar-header #sidebar-close:hover {
  fill-opacity: 0 !important;
}
